/* *{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}
body{
    background-color: #6071e0;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.right-content,.left-content{
    flex-basis: 50%;
}

.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:2rem;
}

.card img{
    margin:1px;
    height: 100px;
}

.card{
    width: 300px;
    background-color: #9edef9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 1%;
}
.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top:100px;
    right: 10px;
}
.right-content img{
    margin: 1.5rem;
    height: 160px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
} */